{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #3b61c8;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 2.5em;
        }

        .example-wrapper {
            margin: 2em auto;
            max-width: 1000px;
            width: 95%;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font: 18px/1.5 sans-serif;
            text-align: center;
        }

        .btn {
            padding: 12px 25px;
            background-color: #f0f0f0;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
        }

        .btn:hover {
            background-color: #6d87c6;
            border-color: #ffffff;
            color: white;
        }


        .links-container {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            margin-top: 20px;
            align-items: center;
        }

        .links-container a {
            padding: 12px 20px;
            background-color: #f0f0f0;
            color: #333;
            text-decoration: none;
            border-radius: 6px;
            border: 1px solid #ccc;
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }

        .links-container a:hover {
            background-color: #6d87c6;
            border-color: #ffffff;
            color: white;
        }

        .btn-container {
            display: flex;
            gap: 10px;
        }
    </style>

    <header>
        <h1>Restaurante DWES</h1>
    </header>

    <div class="example-wrapper">
        <h2>Editar usuario {{ user.nombre }}</h2>
        {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <div class="links-container">
            <div>
                <a href="{{ path('app_user_show') }}" class="btn">Volver </a>
                <a href="{{ path('app_main') }}" class="btn">Inicio</a>
            </div>
            <div class="btn-container">
                <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar el usuario {{ user.nombre }}?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

                </form>
            </div>
        </div>
    </div>

{% endblock %}
