{% extends 'base.html.twig' %}

{% block title %}Usuario {{ app.user.nombre }}{% endblock %}
<style>
    /* Estilo para el contenedor principal */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    /* Header */
    header {
        background-color: #3b61c8;
        color: white;
        padding: 20px 0;
        text-align: center;
    }

    header h1 {
        margin: 0;
        font-size: 2.5em;
    }

    /* Contenedor de enlaces */
    .example-wrapper {
        margin: 2em auto;
        max-width: 800px;
        width: 95%;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font: 18px/1.5 sans-serif;
        text-align: center;
    }

    .example-wrapper h2 {
        color: #333;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .example-wrapper p {
        margin: 1em 0;
    }

    /* Contenedor de enlaces */
    .links-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    .links-container a {
        padding: 12px 20px;
        background-color: #f0f0f0;
        color: #333;
        text-decoration: none;
        border-radius: 6px;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .links-container a:hover {
        background-color: #6d87c6;
        border-color: #ffffff;
        color: white;
    }

    /* Footer */
    footer {
        background-color: #3b61c8;
        color: white;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    #user{
        color: #0042ff;
    }

    #admin{
        border: solid 3px #6d87c6;

    }

    footer p {
        margin: 0;
    }
</style>

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ app.user.password }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ app.user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ app.user.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ app.user.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>


{% endblock %}
